body {
    font-family: 'CidereRegular',  'IBM Plex Sans', serif !important;
    overflow: hidden;
  }
  
  .v-application, 
  .v-application h1.display-1, 
  .v-application h1.display-2, 
  .v-application h1.title, 
  .v-application h2.title, 
  .v-application .v-toolbar__title.title, 
  .v-application p.title, 
  .v-application h1.headline,
  .v-application h2.headline,
  .v-application .v-card__title.headline,
  .v-application .v-card__title.display-2,
  .v-application .v-card__subtitle.headline,
  .v-application .v-card__subtitle.subtitle-2,
  .v-application #about .subtitle-1,
  .v-application button.subtitle-2,
  .v-application .v-card__title.subtitle-2,
  .v-application .subtitle-2,.v-list-item__action-text,
  .v-application * {
    font-family: 'CidereLight',  'IBM Plex Sans', serif !important;
    font-size: 18px !important;
  }
  .v-list-item__title{
    font-family: 'CidereBold',  'IBM Plex Sans', serif !important;
    font-size: 18px !important;
  }
  .v-list-item__subtitle{
    font-family: 'CidereRegular',  'IBM Plex Sans', serif !important;
    font-size: 14px !important;
  }
  
  .v-application a:not(.v-btn){
      text-decoration: none;
      transition: all ease .25s}
      .v-application  a:not(.v-btn):hover{
      color: #b2aeff}
      
  
  .narrow{
    max-width: 1185px !important}
  
  .compact{
    max-width: 960px !important}
  
  .tight{
    max-width: 618px !important}
  
    
  .v-snack__content{
    display: flex}
  
  .vts__close.v-btn--flat{
    background-color: #00000044;
    height: auto !important;
    margin: 0 0 0 24px!important}
  
  .warning .vts__close.v-btn--flat{
    margin-left: 16px!important}
  
  .vts__icon{
    font-size: 32px !important;
    margin-right: 16px !important}
  
  .vts__message{
    align-items: center;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    white-space: break-spaces !important}
  
  .v-snack__wrapper.warning .vts__message,
  .v-snack__wrapper.warning .vts__icon{
    color: #212121}
    
  .v-messages__message{
    padding-bottom: 4px}
    
  .v-alert--prominent .v-alert__icon{
    margin-left: 8px}
    
  .v-application .mb-20 {
    margin-bottom: 80px !important}
    
  .v-application .mb-21 {
    margin-bottom: 84px !important}
  
  
  .v-application .mb-38 {
    margin-bottom: 152px !important}
  
  .v-application .mr-32 {
    margin-right: 128px !important}
    
  .v-application .mr-24 {
    margin-right: 96px !important}
    
  .v-application .mr-28 {
    margin-right: 104px !important}
    
  .v-application .mr-30 {
    margin-right: 112px !important}
    